<div class="row">
  <!-- sidebar -->
  <app-sidebar></app-sidebar>
  <!-- /sidebar -->

  <div class="col-sm-9 padding-right">
    <div class="features_items">
      <!--features_items-->

      <div class="col-sm-4" *ngFor="let product of products | paginate: {itemsPerPage: 12, currentPage: pageActual} ">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="{{path}}{{product.imageURL}}" alt="" />
              <h2>{{ product.price | currency }}</h2>
              <p>{{ product.name }}</p>
              <p>{{product.unitprice | titlecase}}</p>
              <a (click)="homeComponent.addToCart(product)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a la cesta</a>
            </div>
            <div class="product-overlay">
              <div class="overlay-content">
                <h2>{{product.price | currency}}</h2>
                <p>{{product.name}}</p>
                <a (click)="homeComponent.addToCart(product)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir a la cesta</a>
              </div>
            </div>
          </div>
          <div class="choose">
            <ul class="nav nav-pills nav-justified">
              <li><a [routerLink]="['/products/details/',product['id']]"><i class="fa fa-plus-square"></i>Ver detalle</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>

      <pagination-controls autoHide="true" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
    <!--features_items-->
  </div>
</div>
