<section id="form">
  <!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
          <!--login form-->
          <h2>Ingresa a tu cuenta</h2>
          <form #form1="ngForm" (ngSubmit)="passIn(form1)">
            <div class="form-group">
              <input ngModel name="username" type="text" placeholder="Usuario" class="form-control" required />
              <div *ngIf="submitted2 && f['username'].errors" class="text-danger"><small>
                  Por favor, escribe tu usuario.
                </small> </div>
            </div>
            <div class="form-group">
              <input ngModel name="password" type="password" placeholder="Contraseña" class="form-control" required />
              <div *ngIf="submitted2 && f['password'].errors" class="text-danger"><small>
                  Por favor, escribe tu contraseña.
                </small> </div>
            </div>
            <span>
              <input [ngModel]="remember" name="remember" type="checkbox" class="checkbox">
              Recordar
            </span>
            <button type="submit" class="btn btn-default">Iniciar sesión</button>
          </form>
        </div>
        <!--/login form-->
      </div>
      <div class="col-sm-1">
        <h2 class="or">O</h2>
      </div>
      <div class="col-sm-4">
        <div class="signup-form">
          <!--sign up form-->
          <h2>Nuevo usuario</h2>
          <form [formGroup]="forma" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input class="form-control" formControlName="name" type="text" placeholder="Nombre" />
              <div *ngIf="submitted && f['name'].errors" class="text-danger"><small>
                  El nombre es
                  obligatorio.*
                </small> </div>
            </div>
            <div class="form-group">
              <input class="form-control" formControlName="username" type="text" #user placeholder="Nombre de usuario" />
              <div *ngIf="submitted && f['username'].errors" class="text-danger"><small>
                  El nombre de usuario es
                  obligatorio.*
                </small> </div>
            </div>
            <div class="form-group">
              <input formControlName="email" type="email" class="form-control" #email placeholder="Correo electrónico" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors.required" class="text-danger"><small>
                    El correo es obligatorio.*
                  </small>
                </div>
                <div *ngIf="f['email'].errors.email"><small>Por favor, ingresa tu correo electrónico.</small> </div>
              </div>
            </div>
            <div class="form-group">
              <input formControlName="password" type="password" placeholder="Contraseña" class="form-control" />
              <div *ngIf="f['password'].errors?.minlength" class="text-danger"><small>
                  La contraseña debe tener al menos 6 caracteres.*
                </small> </div>
              <div *ngIf="submitted && f['password'].errors" class="text-danger"><small>
                  La contraseña es
                  obligatoria.*
                </small> </div>
            </div>
            <div class="form-group">

              <input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña" class="form-control" />
              <div *ngIf="submitted && f['confirmPassword'].errors" class="text-danger"><small>
                  Debes confirmar la contraseña.*
                </small> </div>
              <div *ngIf="submitted  && f['confirmPassword'].errors?.MatchPassword" class="text-danger"><small>
                  Las contraseñas no coinciden.*
                </small> </div>
            </div>
            <div class="form-group">
              <input formControlName="adress" autocomplete="street-address" type="text" placeholder="Dirección" class="form-control" />
              <div *ngIf="submitted && f['adress'].errors" class="text-danger"><small>
                  La dirección es
                  obligatorio.*
                </small> </div>
            </div>
            <div class="form-group">
              <input formControlName="telephone" type="tel" type="text" class="form-control bfh-phone" value="5555555555"
                data-format="+57 (ddd)ddd-dddd" placeholder="Teléfono" />
              <div *ngIf="submitted && f['telephone'].errors" class="text-danger"><small>
                  El teléfono es
                  obligatorio.*
                </small> </div>
              <div *ngIf="submitted && f['telephone'].errors?.maxlength" class="text-danger"><small>
                  Sobrepasaste el número máximo de caracteres.*
                </small> </div>
            </div>
            <div class="form-group">
              <input formControlName="city" type="text" placeholder="Ciudad" class="form-control" />
              <div *ngIf="submitted && f['city'].errors" class="text-danger"><small>
                  La ciudad es obligatoria.*
                </small> </div>
            </div>

            <button type="submit" class="btn btn-default">Regístrate</button>
          </form>
        </div>
        <!--/sign up form-->
      </div>
    </div>
  </div>
</section>
<!--/form-->
